<% include ../partials/boilerplate %>
    <% include ../auth/login %>

        <div class="pokemon-container">
            <br>
            <% pokemons.forEach(pokemon => { %>
                <div class="pokemon">
                    <span class="title">Name:</span>
                    <span class="name"><%= pokemon.name %></span><br>

                    <span class="title">Skill:</span>
                    <%= pokemon.skill %><br>
                        <a class="linktosingle " href="/pokemons/<%=pokemon.id %>"><img src="./img/<%=pokemon.type%>.png" width="300px"></a>
                </div>
                <h3><span class="title">Health:</span>
                    <%= pokemon.health %>
                </h3>
                <h3><span class="title">Hunger:</span>
                    <%= pokemon.hunger %>
                </h3><br>
                <a class="linktosingle " href="/pokemons/<%=pokemon.id %>">See
                    <%=pokemon.name %>'s profile.</a><br> <br>

                <hr><br>
        </div>
        <% }) %>
            </div>
            <nav>
                <% include ../partials/nav %>
            </nav>
            <% include ../partials/end %>